#topBtn{
    position:fixed;
    right:25px;
    bottom:105px;
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:#D4AF37;
    color:#fff;
    font-size:26px;
    cursor:pointer;
    display:none;
    transition:.3s;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
    z-index:999;
}

#topBtn:hover{
    transform:translateY(-4px);
}
