.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #0A2342;
    z-index: 1000;
    box-shadow: 0 5px 20px rgba(0,0,0,.08);
}

.header .container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    position: relative;
}

.logo img {
    height: 65px;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    transition: .3s;
}

.nav a:hover {
    color: #D4AF37;
}

.header-btn {
    background: #D4AF37;
    color: #fff;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 10px;
    font-weight: 600;
    transition: .3s;
}

.header-btn:hover {
    background: #E6BE4D;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
}


/* ==========================
   МОБИЛЬНАЯ ВЕРСИЯ
========================== */

@media (max-width:768px) {

    .menu-toggle {
        display: block;
        z-index: 1002;
    }

    .header-btn {
        display: none;
    }

    .nav {

        display: none;

        position: absolute;

        top: 100%;

        left: 0;

        width: 100%;

        background: #0A2342;

        flex-direction: column;

        align-items: center;

        gap: 0;

        padding: 15px 0;

    }

    .nav.active {
        display: flex;
    }

    .nav a {

        width: 100%;

        padding: 18px;

        text-align: center;

        border-top: 1px solid rgba(255,255,255,.08);

    }
}