.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #0A2342;
    z-index: 1000;
    box-shadow: 0 5px 20px rgba(0,0,0,.08);
}

.header .container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    position: relative;
}

.logo img {
    height: 65px;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a{
    color:#ffffff !important;
    text-decoration:none;
    font-size:17px;
    font-weight:600;
    transition:.3s;
}

.nav a:hover {
    color: #D4AF37;
}

.header-btn {
    background: #D4AF37;
    color: #fff;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 10px;
    font-weight: 600;
    transition: .3s;
}

.header-btn:hover {
    background: #E6BE4D;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
}


/* ==========================
   МОБИЛЬНАЯ ВЕРСИЯ
========================== */

/* ==========================
   MOBILE MENU
========================== */

@media (max-width:768px){

    .header{
        position:sticky;
        z-index:9999;
    }

    .header .container{
        position:relative;
    }

    .menu-toggle{
        display:block;
        background:none;
        border:none;
        color:#fff;
        font-size:32px;
        cursor:pointer;
    }

    .header-btn{
        display:none;
    }

    .nav{
        display:none;
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background:#0A2342;
        flex-direction:column;
        padding:0;
        margin:0;
        z-index:99999;
    }

    .nav.active{
        display:flex;
    }

    .nav a{
        display:block;
        width:100%;
        padding:18px 20px;
        color:#fff;
        background:#0A2342;
        text-align:center;
        text-decoration:none;
        border-bottom:1px solid rgba(255,255,255,.1);
    }

    .nav a:hover{
        background:#14385f;
        color:#D4AF37;
    }
}