/* ==========================
   PRELOADER
========================== */

#preloader{
    position:fixed;
    inset:0;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:99999;
    transition:opacity 1s ease, visibility 1s ease;
}

#preloader.hide{
    opacity:0;
    visibility:hidden;
}

.loader{
    animation:fadeUp .8s ease;
}

.loader img{
    width:420px;
    max-width:90vw;
    height:auto;
    display:block;
    filter:drop-shadow(0 15px 35px rgba(0,0,0,.12));
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(20px) scale(.96);
    }
    to{
        opacity:1;
        transform:translateY(0) scale(1);
    }
}
/* ==========================
   Планшеты
========================== */

@media (max-width: 992px){

    .loader img{
        width:360px;
        max-width:85vw;
    }

}

/* ==========================
   Телефоны
========================== */

@media (max-width:768px){

    .loader img{
        width:300px;
        max-width:90vw;
    }

}

/* ==========================
   Маленькие телефоны
========================== */

@media (max-width:480px){

    .loader img{
        width:240px;
        max-width:92vw;
    }

}